.Navbar-container{
    width: 100%;
    height: 100px;
    background-color: lightblue;
}
.logo-icon{
    width: 100px;
    height: 100px;

}
.logo-icon img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.nav-links{
   display: flex;
   justify-content: space-around;
   padding: 10px ;
}
.nav-links ul li{
    color: blue;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.login-cart{
    width: 200px;
    height: 100px;

}
.login-cart button{
    background-color: lightgray;
    width: 90px;
    padding: 10px;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
}

.login-cart img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 3px solid grey;
}

.nav-cart-count{
    background-color: red;
    color: #333;
    width: 20px;
    height: 220px;
    text-align: center;

}